/* Universal Selctor used to reset the page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Body Element Selector used to set the background color to a specific hex code  */
body {
    background-color: #d9dcd6;
}

/* Header class selcector used to set the padding, the specific font, the background color, and the text color for everything within this */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Header class, specfically in relation to h1 used to determine the position and the font size */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Header class, specifically in relation to h1 class seo used to determine font color */
.header h1 .seo {
    color: #d9dcd6;
}

/* header class, specifically in relation to div used to set padding and marign,float, font family, and font size */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* header class, specifically in relation to div ul (unordered list) to not have any type of visible bullet points (other options would be circle, square, decimal, disc, etc) */
.header nav ul {
    list-style-type: none;
}

/* header class, specifically in relation to div ul li used to display position and margin */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* element selector to change the color of the navigation bar text */
a {
    color: #ffffff;
    text-decoration: none;
}

/* element selector to set all the paragraph text to consistent font size */
p {
    font-size: 16px;
}

/* Hero class used to set the height and width of the hero image (the banner), also links the image, and sets the size and position of the image on the page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg"); 
    background-size: cover;
    background-position: center;
}

/* float-left class used to make the search engine optimization image and the social media marketing image float to the left of their containing box */
.float-left {
    float: left;
    margin-right: 25px;
}

/* float-right class used to make the online reputation management image float to the right of its containing box */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Content class used to set the width of the 3 blue containers, also uses inline to stack the containing boxes on top of themselves and sets a margin on each */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* benefits class used to format the containing box to the right side of the page, it sets the margin and padding, the position and float with clear and float, the height and width, the font family and the background color */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* uses benefit-lead class to set the margin and the color of the font under lead generation */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* uses the benefit-brand class to set the margin and font color under brand awareness */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* uses the benefit-cost class to set the margin and font color under cost management */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* uses .search-engine-optimization class and h2 element selector to set the margin and font size of the information within the search engine optimization container */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* uses .online-reputation-management class and h2 element selector to set the margin and font size of the information within the online reputation management container */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* uses .social-media-marketing class and h2 element selector to set the margin and font size of the information within the social media marketing container */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* uses benefit-lead in relation to h3 element selector to set the bottom margin and the text alignment */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* uses benefit-brand in relation to h3 element selector to set the bottom margin and the text alignment */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* uses benefit-cost in relation to h3 element selector to set the bottom margin and the text alignment */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* uses benefit-lead class with img element selector to set the display to stack the elements, with a margin and max width */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* uses benefit-brand class with img element selector to set the display to stack the elements, with a margin and max width */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* uses benefit-cost class with img element selector to set the display to stack the elements, with a margin and max width */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* uses the search-engine-optimization class to set the margin, padding, height and color of container around Search Engine Optimization container (as well as the font family and font color) */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* uses the .online-reputation-management class to set the margin, padding, height and color of container around Online Reputation Management container (as well as the font family and font color) */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* uses the .social-media-marketing class to set the margin, padding, height and color of container around Social Media Marketing container (as well as the font family and font color) */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* uses the .search-engine-optimization class and img selector to set the max height of the image. */
.search-engine-optimization img {
    max-height: 200px;
}

/* uses the .online-reputation-management class and img selector to set the max height of the image. */
.online-reputation-management img {
    max-height: 200px;
}

/* uses the .social-media-marketing class and img selector to set the max height of the image. */
.social-media-marketing img {
    max-height: 200px;
}

/* uses the footer class to set padding, clear, font family, and align the text to the center of the page */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    /* updated the header to h4 to match html and for sequential order */
    font-size: 20px;
}
